// GENERIC PHONE QUERY
// ------------------------------------*
@media only screen and (max-width:480px) {

	.wrapper {
		background: red;
	}

	.nav {
		background: rgba(0, 0, 0, 0.3);
		position: absolute;
		top: 96px;
		display: none;
		width: 100%;
		margin: 0 auto;
		transition: all 0.2s;

		li {
			display: block;
			border-top: 1px solid grey;
			padding: 15px;
			margin: 0;

			a {
				padding: 15px;
				margin: 0;
			}
		}
	}

	.banner {
		padding-top: 100px;
		padding-bottom: 40px;

		.titlebox {
			width: 100%;

			h1 {
				font-size: 35px;
			}

			h3 {
				font-size: 16px
			}

		}
	}

	h2.menubutton {
		display: block;
		position: absolute;
		font-size: 40px;
		padding: 0;
		margin: 0;
		top: 18px;
		right: 15px;

		a {
			text-decoration: none;
			color: $yellow;
		}
	}

	
		

}
// CLOSE PHONE QUERY