// GENERIC PHONE QUERY
// ------------------------------------*
@media only screen and (max-width:480px) {


	.banner {
		padding-top: 100px;
		padding-bottom: 40px;

		.titlebox {
			width: 100%;

			h1 {
				font-size: 35px;
			}

			h3 {
				font-size: 16px
			}

		}
	}

// content starts here

	// home page specific
	p.headline {
		font-size: 40px;
	}

	article.homepage {
		font-size: 20px;
		line-height: 30px;
	}

	div.third {
		width: 100%;
		margin: 0 0 20px 0;
	}

	// about page specific
	h1.pagetitle {
		font-size: 40px;
	}

	p.description {
		font-size: 20px;
	}

	// blog styles
	h1.blogtitle {
		font-size: 40px;
	}

	h2.postinfo {
		font-size: 25px;
	}

	h3.authorinfo {
		font-size: 16px;
	}


	// general styles
	article.post {
		font-size: 20px;
	}

	// footer

	footer {

		.email {
			width: 100%;
			padding: 15px 0;
			clear: both;
			font-size: 22px;
		}

		.socialicons {
			width: 100%;
			margin: 0 auto;
			
		}
	}	

}
// CLOSE PHONE QUERY